In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yulara,AU,2020-11-04 01:10:24,-25.24,130.99,87.80,29,100,8.05
1,1,Yulara,AU,2020-11-04 01:10:24,-25.24,130.99,87.80,29,100,8.05
2,2,Yulara,AU,2020-11-04 01:10:24,-25.24,130.99,87.80,29,100,8.05
3,3,Yulara,AU,2020-11-04 01:10:24,-25.24,130.99,87.80,29,100,8.05
4,4,Cauquenes,CL,2020-11-04 01:12:32,-35.97,-72.32,56.82,51,0,5.03
5,5,Sao Filipe,CV,2020-11-04 01:13:41,14.90,-24.50,78.40,74,100,4.03
6,6,Asyut,EG,2020-11-04 01:13:37,27.18,31.18,71.60,53,0,6.93
7,7,Punta Arenas,CL,2020-11-04 01:13:21,-53.15,-70.92,46.40,87,75,10.29
8,8,Payo,ID,2020-11-04 01:17:17,-3.75,103.64,79.41,76,100,0.85
9,9,New Norfolk,AU,2020-11-04 01:17:17,-42.78,147.06,73.40,43,75,17.22

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
## 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yulara,AU,2020-11-04 01:10:24,-25.24,130.99,87.80,29,100,8.05
1,1,Yulara,AU,2020-11-04 01:10:24,-25.24,130.99,87.80,29,100,8.05
2,2,Yulara,AU,2020-11-04 01:10:24,-25.24,130.99,87.80,29,100,8.05
3,3,Yulara,AU,2020-11-04 01:10:24,-25.24,130.99,87.80,29,100,8.05
5,5,Sao Filipe,CV,2020-11-04 01:13:41,14.90,-24.50,78.40,74,100,4.03
6,6,Asyut,EG,2020-11-04 01:13:37,27.18,31.18,71.60,53,0,6.93
8,8,Payo,ID,2020-11-04 01:17:17,-3.75,103.64,79.41,76,100,0.85
9,9,New Norfolk,AU,2020-11-04 01:17:17,-42.78,147.06,73.40,43,75,17.22
15,15,Ampanihy,MG,2020-11-04 01:17:18,-24.70,44.75,71.29,75,0,5.55
18,18,Butaritari,KI,2020-11-04 01:17:19,3.07,172.79,81.46,72,89,16.46

In [12]:
preferred_cities_df.count()

City_ID       218
City          218
Country       218
Date          218
Lat           218
Lng           218
Max Temp      218
Humidity      218
Cloudiness    218
Wind Speed    218
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
0        Yulara      AU     87.80 -25.24  130.99
1        Yulara      AU     87.80 -25.24  130.99
2        Yulara      AU     87.80 -25.24  130.99
3        Yulara      AU     87.80 -25.24  130.99
5    Sao Filipe      CV     78.40  14.90  -24.50
6         Asyut      EG     71.60  27.18   31.18
8          Payo      ID     79.41  -3.75  103.64
9   New Norfolk      AU     73.40 -42.78  147.06
15     Ampanihy      MG     71.29 -24.70   44.75
18   Butaritari      KI     81.46   3.07  172.79

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Yulara,AU,87.80,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
1,Yulara,AU,87.80,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
2,Yulara,AU,87.80,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
3,Yulara,AU,87.80,-25.24,130.99,Desert Gardens Hotel - Ayers Rock Resort
5,Sao Filipe,CV,78.40,14.90,-24.50,Tortuga B&B
6,Asyut,EG,71.60,27.18,31.18,Florence Hotel Assiut
8,Payo,ID,79.41,-3.75,103.64,Mess keban agung
9,New Norfolk,AU,73.40,-42.78,147.06,The Shingles Riverside Cottages
15,Ampanihy,MG,71.29,-24.70,44.75,Angora Hotel
18,Butaritari,KI,81.46,3.07,172.79,Isles Sunset Lodge

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))